# use glob syntax.
syntax: glob

*.egg-info
.coverage
*.pyc
*~
*.swp
*.rej
tags
dist
.hg*
tw2core
tw2devtools
tw2forms
tw2.jit
tw2.jquery_*
virtualenv*
development-deps/development-deps
development-deps/tw2*
*.db
build
cloned/tw2*
tw2-demos.log
